.advantages-list {
  padding: 75px 20px 315px 20px;
  margin: 0;
  background-color: @bg-color-lightgray;

  &::after {
    content: "";
    position: absolute;
    height: 275px;
    width: 157px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: center top;
    background-repeat: no-repeat;
  }
}
