.advantage {
  position: relative;
  width: 280px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    height: 305px;
    width: 250px;
    top: -310px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 0;
  }
}

.advantage__content-wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f2f2f2;
  z-index: 2;
}

.advantage__title {
  padding: 0;
  margin: 0;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.advantage__description {
  padding: 0;
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @font-color-gray;
}

@media (min-width: @tablet-width) {
  .advantage {
    width: initial;
  }

  .advantage__title,
  .advantage__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantage {
    width: 295px;

    &::after {
      display: block;
      width: 292px;
      height: 302px;
      left: 7px;
      top: -301px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: contain;
      }
    }

    &:first-child {
      &::after {
        left: 5px;
      }
    }

    &:nth-child(2) {
      .advantage__content-wrapper {
        padding: 39px 25px 10px 24px;
      }

      &::after {
        background-image: url("../img/iphone-screen-2-desktop@1x.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-screen-2-desktop@2x.png");
          background-size: contain;
        }
      }
    }

    &:last-child {
      .advantage__content-wrapper {
        padding: 39px 24px 10px 25px;
      }

      &::after {
        background-image: url("../img/iphone-screen-3-desktop@1x.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-screen-3-desktop@2x.png");
          background-size: contain;
        }
      }
    }
  }

  .advantage__title,
  .advantage__description {
    text-align: center;
  }

  .advantage__title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
  }

  .advantage__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantage__content-wrapper {
    padding: 39px 24px 10px 32px;
  }
}
