.advantages {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: @bg-color-white;

  &::before {
    content: "";
    background-image: url("../img/bg-triangle-white.svg");
    position: absolute;
    height: 94px;
    width: 1200px;
    top: 212px;
  }
}

.advantages__moto {
  margin: 0;
  padding: 40px 55px 30px 55px;
  font-family: @font-family-name;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: @font-color-gray;
}