.advantages {
  padding: 0;
  margin: 0;
  background-color: @bg-color-white;
}

.advantages__moto {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: @font-color-gray;

  &:first-child {
    margin-bottom: 29px;
  }
}

.advantages__24-hour-effect-title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: @font-color-black;
}

.advantages__24-hour-effect {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 11px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @font-color-gray;
}

.advantages__more-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @font-color-red;
  text-decoration: underline;
}

.advantages__white-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: @bg-color-white;
  padding-top: 39px;

  &::before {
    content: "";
    position: absolute;
    height: 65px;
    width: 100%;
    left: 0;
    bottom: -64px;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074' preserveAspectRatio='none'%3E%3Cpolygon fill='%23ffffff' points='1200,0 0,0 0,94.074 '/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
}

.advantages__gray-wrapper {
  padding: 0;
  margin: 0;
  background-color: @bg-color-lightgray;
}

.advantages__24-hour-effect-wrapper {
  padding: 0;
  margin: 0;
  display: none;
}

.advantages__list {
  padding: 96px 0 286px 0;

  &::after {
    content: "";
    position: absolute;
    height: 275px;
    width: 157px;
    bottom: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: center top;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages__white-wrapper {
    padding-top: 0;
    padding-bottom: 9px;

    &::before {
      height: 90px;
      bottom: -89px;
    }
  }

  .advantages__24-hour-effect-wrapper {
    position: relative;
    display: block;
    background-color: @bg-color-white;
    z-index: 2;
  }

  .advantages__24-hour-effect-box-wrapper {
    padding: 97px 15px 100px 309px;
    position: relative;

    &::before {
      content: "24";
      position: absolute;
      top: 129px;
      left: 32px;
      width: 175px;
      height: 175px;
      font-size: 96px;
      font-weight: 700;
      color: @font-color-red;
      line-height: 164px;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 0 0 14px @font-color-red;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 34px;
      left: 0;
      width: 240px;
      height: 328px;
      background-image: url("../img/icon-timer.svg");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  .advantages__moto {
    margin: 0;
    padding: 0;
    padding-top: 49px;
    font-size: 40px;
    line-height: 48px;

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      padding: 0;
    }
  }

  .advantages__list {
    padding: 94px 0 7px 306px;

    &::after {
      margin: 0;
      bottom: 0;
      height: 481px;
      width: 268px;
      z-index: 1;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-size: auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: contain;
      }
    }
  }

  .advantages__24-hour-effect-title {
    span {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__white-wrapper {
    padding-top: 20px;
    padding-bottom: 82px;

    &::before {
      height: 91px;
      bottom: -90px;
    }
  }

  .advantages__moto {
    font-size: 50px;
    line-height: 59px;

    &:first-child {
      margin-bottom: 2px;
    }
  }

  .advantages {
    .container {
      position: relative;
      z-index: 1;
    }
  }

  .advantages__24-hour-effect-wrapper {
    background-color: @bg-color-lightgray;
  }

  .advantages__gray-wrapper {
    &::before {
      height: 94px;
    }
  }

  .advantages__list {
    margin-left: -2px;
    padding: 295px 6px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;

    &::after {
      display: none;
    }
  }

  .advantages__24-hour-effect-title {
    span {
      display: inline;
    }
  }

  .advantages__24-hour-effect {
    margin-top: 21px;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__more-info {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__24-hour-effect-box-wrapper {
    padding: 113px 55px 113px 366px;
    position: relative;

    &::before {
      top: 108px;
      left: 39px;
      width: 220px;
      height: 220px;
      font-size: 120px;
      line-height: 205px;
      box-shadow: 0 0 0 17px @font-color-red;
    }

    &::after {
      top: 19px;
      left: 0;
      width: 300px;
      height: 350px;
    }
  }
}
