.advantage__title {
  font-family: @font-family-name;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.advantage__description {
  font-family: @font-family-name;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @font-color-gray;
}
