.contact-item {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.contact-item__title {
  font-family: @font-family-name;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: @font-color-gray;
}

.contact-item__text {
  font-family: @font-family-name;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  color: @font-color-red;
}

@media (min-width: @desktop-width) {
  .contact-item {
    width: 250px;
  }

  .contact-item:first-child {
    order: 1;
  }

  .contact-item:nth-child(2) {
    order: 3;
  }

  .contact-item:nth-child(3) {
    order: 2;
  }
}
