.contact-item__title {
  font-family: @font-family-name;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: @font-color-gray;
}

.contact-item__text {
  font-family: @font-family-name;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  color: @font-color-red;
}
