.downloads {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.downloads__box {
  position: relative;
  padding-bottom: 16px;
  text-align: center;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: 258px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -313px;
    left: -20px;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

.downloads__moto {
  padding: 10px 35px;
  font-size: 40px;
  line-height: 56px;
  font-weight: 300;
  color: @font-color-white;
  display: none;
}

.downloads__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @font-color-white;
  text-align: center;
  padding: 15px 0 16px 0;
  display: inline-block;
  background-color: transparent;
  border: 3px solid @border-color-white;
  border-radius: 30px;
  width: 280px;
  box-sizing: border-box;

  &:hover {
    color: @font-color-red;
    background-color: @bg-color-white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: @bg-color-white;
  }
}

.downloads__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: @font-color-white;
}

.downloads__list {
  padding: 30px 17px 7px 17px;
}

@media (min-width: @tablet-width) {
  .downloads__description {
    font-size: 18px;
  }

  .downloads__box {
    width: 300px;
    padding-bottom: 92px;

    &::before {
      background-image: url("../img/iphone-hand-tablet@1x.png");
      width: 620px;
      height: 546px;
      left: 0;
      top: -11px;
      background-size: auto;
      background-position: bottom center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: cover;
      }
    }
  }

  .downloads__button {
    padding: 14px 0 17px 0;
    border-radius: 30px;
    width: 300px;
  }

  .downloads__moto {
    display: block;
    margin: 0;
    padding: 10px 30px 31px 30px;
    line-height: 48px;
  }

  .downloads__list {
    padding: 44px 26px 16px 25px;
  }
}

@media (min-width: @desktop-width) {
  .downloads__moto {
    padding: 10px 30px 53px 32px;
    font-size: 50px;
    line-height: 59px;
  }

  .downloads__list {
    padding: 65px 25px 35px 27px;
  }

  .downloads__box {
    padding-bottom: 103px;

    &::before {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      width: 920px;
      height: 646px;
      left: 18px;
      top: -3px;
      background-size: auto;
      background-position: bottom left;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: cover;
      }
    }
  }

  .downloads__button {
    font-size: 21px;
  }
}
