.logo {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 1px;

  &:hover {
    background-image: url("../img/logo-pink-red-mobile.svg");
    background-repeat: no-repeat;
    background-position: left 1px top 2px;

    picture {
      visibility: hidden;
    }
  }

  &:active {
    background-image: none;
    opacity: 0.3;

    picture {
      visibility: visible;
    }
  }

  &--active {
    background-image: none;

    &:hover {
      background-image: none;

      picture {
        visibility: visible;
      }
    }
  }
}

.logo__image {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .logo {
    padding-bottom: 20px;

    &:hover {
      background-image: url("../img/logo-pink-red-tablet.svg");
      background-repeat: no-repeat;
      background-position: left 1px top 2px;
    }

    &:active {
      background-image: none;
      opacity: 0.3;

      picture {
        visibility: visible;
      }
    }

    &--active {
      background-image: none;

      &:hover {
        background-image: none;

        picture {
          visibility: visible;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .logo {
    padding-top: 2px;

    &:hover {
      background-image: url("../img/logo-pink-red-desktop.svg");
      background-repeat: no-repeat;
      background-position: left 1px top 2px;
    }

    &:active {
      background-image: none;
      opacity: 0.3;

      picture {
        visibility: visible;
      }
    }

    &--active {
      background-image: none;

      &:hover {
        background-image: none;

        picture {
          visibility: visible;
        }
      }
    }
  }
}
