.market-list {
  .reset-list();
  display: flex;
  padding: 40px 20px;
  justify-content: space-around;
  align-items: center;
}

.market-list__item {
  &--ios a {
    display: block;
    background-image: url("../img/logo-apple.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 47px;
    height: 57px;
  }

  &--android a {
    display: block;
    background-image: url("../img/logo-android.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 42px;
    height: 47px;
  }

  &--winows a {
    display: block;
    background-image: url("../img/logo-microsoft.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 44px;
    height: 42px;
  }
}
