.menu-list {
  .reset-list();
  background-color: @bg-menu-color-darkgray;
}

.menu-list__item a {
  font-family: @font-family-name;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #d22856;
    opacity: 0.3;
  }
}

.menu-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid @border-color-gray;
  border-bottom: 1px solid @border-color-black;
}
