.page-header {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-color: @bg-color-darkgray;
}
