.page-header {
  position: relative;
  min-height: 992px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top 258px center;
  background-repeat: no-repeat;
  background-size: 100% 462px;
  background-color: @bg-color-darkgray;

  &--short {
    min-height: 733px;
    background-position: top center;

    .page-header__title {
      padding-top: 31px;
    }
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 462px;
  }
}

.page-header__title {
  margin: 0 auto;
  padding: 0;
  padding-top: 285px;
  width: 280px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: @font-color-white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 984px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 729px;
    background-position: bottom center;

    &--short {
      min-height: 729px;

      .page-header__title {
        padding-top: 71px;
      }
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: auto 729px;
    }
  }

  .page-header__title {
    width: 620px;
    padding-top: 326px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
    background-size: cover;

    &--short {
      .page-header__title {
        padding-top: 65px;
      }
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: auto 853px;
      background-position: bottom -12px center;
    }
  }

  .page-header__title {
    width: 940px;
    padding-top: 65px;
  }
}
