.photo-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  &--panorama {
    margin-bottom: 21px;

    picture {
      line-height: 0;
    }
  }

  a {
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  &:first-child {
    .photo-item__likes {
      margin-top: 9px;
    }
  }

  &:nth-child(3) {
    .photo-item__likes {
      margin-top: 10px;
    }
  }
}

.photo-item__image-title {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin: 0 auto;

  &::before {
    content: "Панорама дня";
    position: absolute;
    right: 20px;
    font-family: @font-family-name;
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: @font-color-white;
    width: 140px;
    height: 36px;
    background-color: @bg-color-red;
    z-index: 1;
  }
}

.photo-item__content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 19px 15px 20px 18px;
  background-color: @bg-color-lightgray;
  box-sizing: border-box;

  .likes {
    order: 3;
  }

  &--panorama {
    padding-bottom: 19px;

    .likes {
      margin-top: 10px;
    }
  }
}

.photo-item__image {
  &--panorama {
    line-height: 0;
    width: 100vw;
    position: relative;
  }
}

.photo-item__author {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: @font-color-gray;
  order: 1;
}

.photo-item__timeago {
  margin-left: 0;
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: @font-color-gray;
}

.photo-item__comment {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @font-color-gray;
  order: 3;
}

.photo-item__likes {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  order: 2;
}

@media (min-width: @tablet-width) {
  .photo-item__image {
    &--block {
      width: 300px;
      height: 300px;
    }
  }

  .photo-item__image-title {
    width: 620px;

    &::before {
      right: 20px;
      top: 57px;
    }
  }

  .photo-item {
    display: flex;
    flex-direction: column;

    &--panorama {
      margin-bottom: 52px;

      .photo-item__content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      picture {
        line-height: 0;
      }
    }

    &:first-child {
      .photo-item__likes {
        margin-top: auto;
      }
    }

    &:nth-child(3) {
      .photo-item__likes {
        margin-top: auto;
      }
    }
  }

  .photo-item__content-wrapper {
    flex-grow: 1;
    width: 300px;
    min-height: 155px;
    padding: 25px 32px 23px 28px;

    .photo-item__likes {
      margin-top: auto;

      &::before {
        margin-left: auto;
      }
    }

    &--panorama {
      width: auto;
      min-height: auto;

      .photo-item__likes {
        margin-right: -7px;
        margin-top: 0;
        order: 2;

        &::before {
          margin-left: 16px;
          margin-right: 5px;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-item {
    margin-bottom: 55px;

    &--panorama {
      margin-bottom: 50px;

      .photo-item__likes {
        margin-right: 0;
      }

      picture {
        line-height: 0;
      }
    }
  }

  .photo-item__image-title {
    padding: 0;
    width: 940px;

    &::before {
      right: 0;
      top: 54px;
    }
  }

  .photo-item__image {
    &--block {
      height: 400px;
    }

    &--panorama {
      height: 506px;
    }
  }

  .photo-item__content-wrapper {
    &--panorama {
      .likes {
        &::before {
          margin-left: 18px;
          margin-right: 0;
        }
      }
    }
  }
}
