.reviews {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: @bg-color-white;

  &::before {
    content: "";
    position: absolute;
    height: 94px;
    width: 100%;
    bottom: -94px;
    background-image: url("../img/bg-triangle-white.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
  }
}

.reviews__list {
  padding: 45px 0 35px 0;
  margin: 0;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: initial;
  color: @font-color-black;
  order: 1;
}

.reviews__author-add-info {
  display: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: @font-color-gray;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @font-color-gray;
  order: 2;
}

@media (min-width: @tablet-width) {
  .reviews__text {
    font-size: 18px;
    order: 1;
  }

  .reviews__author-name {
    order: 2;
  }

  .reviews__author-add-info {
    display: block;
    order: 3;
  }
}
