@bg-color-white: #ffffff;
@bg-color-lightgray: #f2f2f2;
@bg-color-darkgray: #1d2631;
@bg-color-black: #000000;
@bg-color-red: #d22856;
@bg-menu-color-darkgray: #283645;
@bg-color-green: #2aab6d;
@bg-color-gray: #b5b9be;

@border-color-black: #000000;
@border-color-gray: #485461;
@border-color-lightgray: #e5e5e5;
@border-color-red: #d22856;

@font-color-white: #ffffff;
@font-color-gray: #283645;
@font-color-black: #000000;
@font-color-red: #d22856;

@font-family-name: "Open Sans", "Arial", sans-serif;

@tablet-width: 660px;
@desktop-width: 1200px;
